REMNAWAVE_API=http://remnawave:3000
REMNAWAVE_TOKEN=your_token
CHECK_INTERVAL=300

XRAY_JSON=true
XRAY_JSON_UUID=your_uuid_for_XRAY_JSON
XRAY_JSON_RAW_URL=https://raw.githubusercontent.com/hydraponique/roscomvpn-routing/refs/heads/main/HAPP/DEFAULT.JSON
CONVERT_FROM_HAPP=true

MIHOMO=false
MIHOMO_UUID=your_uuid_for_MIHOMO
MIHOMO_RAW_URL=https://raw.githubusercontent.com/hydraponique/roscomvpn-routing/refs/heads/main/MIHOMO/template_remnawave.yaml

STASH=false
STASH_UUID=your_uuid_for_STASH
STASH_RAW_URL=https://raw_link

SINGBOX=false
SINGBOX_UUID=your_uuid_for_SINGBOX
SINGBOX_RAW_URL=https://raw_link

CLASH=false
CLASH_UUID=your_uuid_for_CLASH
CLASH_RAW_URL=https://raw_link
